body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

#toc {
    max-width: 600px;
    margin: auto;
}

#toc ul {
    list-style: none;
    padding: 0;
}

#toc li {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    margin: 5px 0;
    border-radius: 5px;
}

#toc li:hover {
    background-color: #ddd;
}

#popup,
#pdfViewer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.popup-content,
.pdf-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

#nextPageBtn {
    width: 50%;
    max-width: 200px;
    padding: 10px;
    font-size: 14px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px auto;
}

canvas {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 1px solid black;
    display: block;
}

@media (max-width: 600px) {

    #popup,
    #pdfViewer {
        width: 95%;
        max-width: 95%;
        padding: 15px;
    }

    .popup-content,
    .pdf-content {
        padding: 10px;
    }

    .close-btn {
        font-size: 32px;
        /* Større kryds */
        width: 55px;
        height: 55px;
        top: 5px;
        right: 5px;
    }

    #nextPageBtn {
        width: 90%;
        font-size: 18px;
        /* Gør knappen større */
        padding: 15px;
    }
}